{% extends 'base.html' %}

{% block content %}
<link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet">

{% with messages = get_flashed_messages() %}  
{% if messages %}  
      {% for message in messages %}  
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
           
      {% endfor %}  
{% endif %}  
{% endwith %} 




  
    <div class="shadow p-3 mb-5 bg-white rounded">Add User</div>
         <form action="{{ url_for('login') }}" method="POST" >
            <input type="text" value="email" name="email" id="email" class="form-label">
            <input type="password" value="password" name="password" id="email" class="form-label">
            <button type="submit">Submit</button>
         </form>

   

{% endblock %}

